<section class="container">
  <section></section>
  <div class="bank-application-heading">
    <div class="open-up-section-common sub-emp">
      <div class="heading-ele">
        <h2>Bank Branch View</h2>
        <div class="back-button">go back</div>
      </div>
      <div class="sub-emp-details grid--3-cols">
        <div>
          <h6>Branch Name</h6>
          <div>Mathew Francis</div>
        </div>
        <div>
          <h6>Branch Id</h6>
          <div>12345678</div>
        </div>
        <div>
          <h6>State</h6>
          <div>234567244</div>
        </div>
        <div>
          <h6>Country</h6>
          <div>347</div>
        </div>
        <div>
          <h6>Branch Status</h6>
          <div>7836489221</div>
        </div>
        <div>
          <h6>Branch Manager</h6>
          <div>mathewAtgmail.com</div>
        </div>
      </div>
    </div>
    <app-employee-management></app-employee-management>
  </div>
</section>
