<section class="container">
  <div class="bank-application-heading">
    <div class="open-up-section-common sub-emp">
      <div class="heading-ele">
        <h2>Sub Employee View</h2>
        <div class="back-button">go back</div>
      </div>
      <div class="sub-emp-details grid--3-cols">
        <div>
          <h6>Name</h6>
          <div>Mathew Francis</div>
        </div>
        <div>
          <h6>In Number</h6>
          <div>12345678</div>
        </div>
        <div>
          <h6>Report's To</h6>
          <div>234567244</div>
        </div>
        <div>
          <h6>Branch Id</h6>
          <div>347</div>
        </div>
        <div>
          <h6>Phone Number</h6>
          <div>7836489221</div>
        </div>
        <div>
          <h6>email</h6>
          <div>mathewAtgmail.com</div>
        </div>
        <div>
          <h6>Date Of Birth</h6>
          <div>21/09/2003</div>
        </div>
        <div>
          <h6>Salary</h6>
          <div>100,000,000</div>
        </div>
      </div>
    </div>

    <section class="container">
      <div class="bank-application-heading">
        <div class="open-up-section-common">
          <h5>Employees Under Employee name</h5>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
            ></path>
          </svg>
        </div>
        <div class="applications-query">
          <form>
            <div>
              <label for="phone-or-email">Find by Phone or Email</label>
              <input type="text" id="phone-or-email" name="" />
            </div>
            <div>
              <label for="branch">Branch</label>
              <input type="text" id="branch" name="" />
            </div>
            <div class="button">
              <button>Look up</button>
            </div>
          </form>
          <div class="count">
            <span>count </span><span class="num">55</span>
          </div>
        </div>
        <div class="applications-data">
          <table>
            <tr class="head prevent-select">
              <th>From</th>
              <th>To</th>
              <th>Date Time</th>
              <th>Amount</th>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
            <tr>
              <td>192.168.10.1</td>
              <td>172.168.2.1</td>
              <td>sample</td>
              <td>sample</td>
            </tr>
          </table>
          <div class="next-bubble prevent-select">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="#000000"
              viewBox="0 0 256 256"
            >
              <path
                d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm46-90a6,6,0,0,1-6,6H102.49l21.75,21.76a6,6,0,1,1-8.48,8.48l-32-32a6,6,0,0,1,0-8.48l32-32a6,6,0,0,1,8.48,8.48L102.49,122H168A6,6,0,0,1,174,128Z"
              ></path>
            </svg>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <div class="three-dotes">...</div>
            <span>10</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="#000000"
              viewBox="0 0 256 256"
            >
              <path
                d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm44.24-94.24a6,6,0,0,1,0,8.48l-32,32a6,6,0,0,1-8.48-8.48L153.51,134H88a6,6,0,0,1,0-12h65.51l-21.75-21.76a6,6,0,0,1,8.48-8.48Z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <app-assigned-applications></app-assigned-applications>
  </div>
</section>
