<div class="ng-view" autoscroll="true"></div>
<section class="container">
  <div class="bank-application-heading">
    <div class="open-up-section-common sub-emp">
      <div class="heading-ele">
        <h2>Sub Employee View</h2>
        <div class="back-button" (click)="goBack()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M222,128a6,6,0,0,1-6,6H54.49l61.75,61.76a6,6,0,1,1-8.48,8.48l-72-72a6,6,0,0,1,0-8.48l72-72a6,6,0,0,1,8.48,8.48L54.49,122H216A6,6,0,0,1,222,128Z"
            ></path>
          </svg>
          <span>go back</span>
        </div>
      </div>
      <div class="sub-emp-details grid--3-cols">
        <div class="capitalize">
          <h6>Name</h6>
          <div>{{ employeeData?.full_name }}</div>
        </div>
        <div class="capitalize">
          <h6>Employee Id</h6>
          <div>{{ employeeData?.empId }}</div>
        </div>
        <div class="capitalize">
          <h6>Report's To</h6>
          <div>{{ employeeData?.reportsTo }}</div>
        </div>
        <div>
          <h6 class="capitalize">Branch Id</h6>
          <div>{{ employeeData?.branchId }}</div>
        </div>
        <div>
          <h6>Branch Name</h6>
          <div>{{ employeeData?.branchName }}</div>
        </div>
        <div>
          <h6 class="capitalize">Phone Number</h6>
          <div>{{ employeeData?.phone_number }}</div>
        </div>
        <div>
          <h6>Email</h6>
          <div>{{ employeeData?.email }}</div>
        </div>
        <div class="capitalize">
          <h6>Date Of Birth</h6>
          <div>{{ employeeData?.dateOfBirth }}</div>
        </div>
        <div>
          <h6 class="capitalize">Salary</h6>
          <div>{{ employeeData?.salary }}</div>
        </div>
        <hr />
        <div class="sapn-out">
          <h6 class="capitalize">roles</h6>
          @for (role of employeeData?.rolesName; track role.roleName; let last =
          $last) {
          <span>{{ role.roleName.slice(5) }}@if(!last){, }</span>
          }
        </div>
      </div>
    </div>

    <section class="container lift">
      <div class="bank-application-heading">
        <div class="open-up-section-common" (click)="listOutAllSubEmployees()">
          <h5>Employees Under - {{ employeeData?.full_name }}</h5>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
            ></path>
          </svg>
        </div>
        <div class="applications-query">
          <form>
            <div>
              <label for="phone-or-email">Find by Phone or Email</label>
              <input type="text" id="phone-or-email" name="" />
            </div>
            <div>
              <label for="branch">Branch</label>
              <input type="text" id="branch" name="" />
            </div>
            <div class="button">
              <button>Look up</button>
            </div>
          </form>
          <div class="count">
            <span>count </span><span class="num">55</span>
          </div>
        </div>
        <div class="applications-data">
          <table>
            <tr class="head prevent-select">
              <th>Employee-Id</th>
              <th>Name & click for details</th>
              <th>Phone Number</th>
              <th>Branch</th>
              <th>Permission set</th>
              <th>Salary</th>
            </tr>
            @for(subEmp of subEmployees; track subEmp.empId;){
            <tr>
              <td>{{ subEmp.empId }}</td>
              <td>
                <button (click)="personId(subEmp.empId)">
                  {{ subEmp.full_name }}
                </button>
              </td>
              <td>{{ subEmp.phone_number }}</td>
              <td>{{ subEmp.branchName }}</td>
              <td>
                @for(roles of subEmp.rolesName ; track roles){
                <div style="text-transform: capitalize">
                  {{ roles.roleName.slice(5) }}
                </div>
                }
              </td>
              <td>{{ subEmp.salary }}</td>
            </tr>
            }
          </table>
          <div class="next-bubble prevent-select">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="#000000"
              viewBox="0 0 256 256"
            >
              <path
                d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm46-90a6,6,0,0,1-6,6H102.49l21.75,21.76a6,6,0,1,1-8.48,8.48l-32-32a6,6,0,0,1,0-8.48l32-32a6,6,0,0,1,8.48,8.48L102.49,122H168A6,6,0,0,1,174,128Z"
              ></path>
            </svg>
            <span>1</span>
            <span>2</span>
            <span>3</span>
            <div class="three-dotes">...</div>
            <span>10</span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="#000000"
              viewBox="0 0 256 256"
            >
              <path
                d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm44.24-94.24a6,6,0,0,1,0,8.48l-32,32a6,6,0,0,1-8.48-8.48L153.51,134H88a6,6,0,0,1,0-12h65.51l-21.75-21.76a6,6,0,0,1,8.48-8.48Z"
              ></path>
            </svg>
          </div>
        </div>
      </div>
    </section>
    <app-assigned-applications></app-assigned-applications>
    <app-bank-applications></app-bank-applications>
    <div class="permission-set container">
      <h6>{{ employeeData?.full_name }} permission Set</h6>
      <div class="container">
        <app-permission-set></app-permission-set>
        <button>Save</button>
      </div>
    </div>
  </div>
</section>
