.heading-and-logo {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.heading-and-logo svg {
  width: 8rem;
  height: 8rem;
  fill: #1864ab;
}

.heading-and-logo h5 {
  margin-top: 3rem;
  margin-bottom: 4rem;
  font-size: 3.5rem;
  color: #1864ab;
}

.containment-border {
  margin-top: 10rem;
  padding: 1rem;
  border: 1px solid #1864ab;
  margin-bottom: 3rem;
}

.form-containment form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4rem;
}

.form-containment form div {
  display: flex;
  gap: 1rem;
}

.form-containment form div > .fieldName {
  align-self: center;
  text-align: end;
  font-size: 1.8rem;
  min-width: 10rem;
}

.form-containment form .inputs {
  font-size: 1.8rem;
  font-weight: 700;
  color: #1864ab;
  border-radius: 2px;
  padding: 1rem 1.2rem;
  border: 1px solid #1864ab;
}

.location {
  position: relative;
}

.location div {
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #1864ab;
}

.location div svg {
  fill: #1864ab;
  margin-bottom: 2rem;
}
.location div svg:hover {
  cursor: pointer;
  fill: #1864ab;
}

.drop-down {
  position: absolute;
  top: 8rem;
  background-color: #e7f5ff;
  overflow-y: scroll;
}

.drop-down ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  padding: 1rem;
  min-width: 15rem;
  max-height: 14rem;
}

.drop-down ul li {
  font-size: 1.6rem;
  transition: all 0.33s;
}
.drop-down ul li:hover,
.drop-down ul li:active {
  padding: 0.5rem;
  cursor: pointer;
  font-weight: 600;
  background-color: #ffffff;
}

.location div > input {
  padding: 1rem 1.2rem;
  margin: 1rem;
  border: 1px solid #1864ab;
  /* background-color: aqua; */
}

.location div label {
  margin-top: 1rem;
  font-size: 2rem;
  /* background-color: aqua; */
}

.submit-button input {
  text-transform: capitalize;
  padding: 1.2rem 4rem;
  font-size: 2rem;
  background-color: #1864ab;
  color: #e7f5ff;
  margin-bottom: 1rem;
  border: 6px solid #ffffff;
  transition: all 0.33s;
  /* #1971c2 */
}

.submit-button input:active,
.submit-button input:hover {
  cursor: pointer;
  background-color: #1971c2;
  color: #e7f5ff;
  margin-bottom: 1rem;
  border: 6px solid #e7f5ff;
  transition: all 0.33s;
  /* #1971c2 */
}

p {
  margin-left: 2rem;
  align-self: flex-start;
}

.small {
  max-width: 15rem;
  margin-right: 15rem;
}

.selection-result {
  font-size: 2rem;
  font-weight: 600;
  padding: 1rem;
}
