<app-nav-bar></app-nav-bar>
<section class="container">
  <div class="welcome-message">
    <h3>Welcome :</h3>
    <p>{{ userName }}</p>
  </div>

  <div class="accounts">
    <h4>User Accounts</h4>
    <div class="account-type savings">
      <h5>
        Savings
        <p>></p>
      </h5>
    </div>
    <div class="account-type savings">
      <h5>
        Checking
        <p>></p>
      </h5>
    </div>
    <div class="account-type savings">
      <h5>
        Build Up
        <p>></p>
      </h5>
    </div>
  </div>
</section>
<app-footer-section></app-footer-section>
