.welcome-message {
  display: flex;
  gap: 1.2rem;
  font-size: 3.4rem;
  margin-top: 10rem;
  margin-left: 10rem;
  align-items: baseline;
}
.welcome-message p {
  font-weight: 600;
  color: #1864ab;
}
.welcome-message h3 {
  font-weight: 100;
}

.accounts {
  display: flex;
  flex-direction: column;
  justify-items: center;
  margin: 3rem 10rem;
  border: 1px solid #1864ab;
}

.accounts h4 {
  text-align: center;
  font-size: 2.2rem;
  padding: 1rem;
  background-color: #1864ab;
  color: #e7f5ff;
  transition: all 0.33s;
}

.account-type {
  margin: 2.4rem 2rem 0rem 2rem;
  background-color: #d0ebff;
  color: #1864ab;
  text-transform: capitalize;
  transition: all 0.33s;
}

.account-type:hover,
.account-type:active {
  background-color: #e7f5ff;
}

.build-up {
  margin-bottom: 2.4rem;
}

.account-type h5 {
  background-image: linear-gradient(#e7f5ff, #d0ebff);
  display: flex;
  justify-items: center;
  align-items: center;
  column-gap: 1rem;
  font-size: 1.73rem;
  padding: 1rem 2rem;
  transition: all 1s;
}

.account-type h5:hover {
  cursor: pointer;
  background-image: linear-gradient(#e7f5ff, #baddf8);
}
.account-type h5:active {
  cursor: pointer;
  background-image: linear-gradient(#baddf8, #e7f5ff);
}

.account-info {
  margin: 2rem 0rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.6rem;
}

.account-info div:first-child {
  color: #555;
}
.account-info div:first-child span:last-child {
  margin-left: 1rem;
  font-weight: 600;
}
.account-number span:last-child {
  margin-left: 1rem;
  font-weight: 600;
}
.account-info div:last-child {
  align-self: end;
  margin-left: 1rem;
  font-weight: 600;
}

.account-info div:last-child button {
  background-image: linear-gradient(#e7f5ff, #d0ebff);
  color: #1864ab;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem;
  border: 1px solid #74c0fc;
  transition: all 0.33s;
}
.account-info div:last-child button:hover {
  cursor: pointer;
  background-image: linear-gradient(#e7f5ff, #baddf8);
}
.account-info div:last-child button:active {
  cursor: pointer;
  background-image: linear-gradient(#d0ebff, #e7f5ff);
}

.account-type svg {
  width: 2rem;
  transform: rotate(-180deg);
  fill: #1864ab;
  stroke: #1864ab;
  /*   transition: all 0.05s 0.33s; */
  transition: all 0.33s;
}

.account-type svg.toggle-down {
  transform: rotate(0deg);
}

.options-button {
  display: flex;
  gap: 1rem;
}

.options-button button {
  min-width: 15rem;
}
