<section class="holder">
  <!-- roles bubbles -->
  <div class="node" *ngFor="let recipient of permissions | keyvalue">
    <div class="cancel">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
        (click)="remove(recipient.key)"
      >
        <path
          d="M202.83,197.17a4,4,0,0,1-5.66,5.66L128,133.66,58.83,202.83a4,4,0,0,1-5.66-5.66L122.34,128,53.17,58.83a4,4,0,0,1,5.66-5.66L128,122.34l69.17-69.17a4,4,0,1,1,5.66,5.66L133.66,128Z"
        ></path>
      </svg>
    </div>
    <div>
      <div class="set-permission">
        <h5>{{ recipient.value.roleName.slice(5) }}</h5>
      </div>
    </div>
    <div>
      <p>Description of permission set</p>
    </div>
  </div>

  <div class="node">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
        (click)="openUp = !openUp"
      >
        <path
          d="M128,28A100,100,0,1,0,228,128,100.11,100.11,0,0,0,128,28Zm0,192a92,92,0,1,1,92-92A92.1,92.1,0,0,1,128,220Zm42.83-110.83a4,4,0,0,1,0,5.66l-40,40a4,4,0,0,1-5.66,0l-40-40a4,4,0,0,1,5.66-5.66L128,146.34l37.17-37.17A4,4,0,0,1,170.83,109.17Z"
        ></path>
      </svg>
      @if(openUp){
      <div class="permission-set">
        <ul>
          @for (role of arrayOfPermissions; track role.roleName){
          @if(!role.added){
          <li (click)="addPermission(role)">
            {{ role.roleName.slice(5) }}
          </li>
          } }
        </ul>
      </div>
      }
    </div>
    <div>
      <p>Description of permission set</p>
    </div>
  </div>
</section>
