<section class="holder">
  <!-- roles bubbles -->
  <div class="node" *ngFor="let recipient of permissions | keyvalue">
    <div class="cancel">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
        (click)="remove(recipient.key)"
      >
        <path
          d="M202.83,197.17a4,4,0,0,1-5.66,5.66L128,133.66,58.83,202.83a4,4,0,0,1-5.66-5.66L122.34,128,53.17,58.83a4,4,0,0,1,5.66-5.66L128,122.34l69.17-69.17a4,4,0,1,1,5.66,5.66L133.66,128Z"
        ></path>
      </svg>
    </div>
    <div>
      <div class="set-permission">
        <h5>{{ recipient.value.roleName.slice(5) }}</h5>
      </div>
    </div>
    <div class="desc">
      <p>For more info on what roles do click here</p>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
      >
        <path
          d="M224,128a96,96,0,1,1-96-96A96,96,0,0,1,224,128Z"
          opacity="0.2"
        ></path>
        <path
          d="M140,180a12,12,0,1,1-12-12A12,12,0,0,1,140,180ZM128,72c-22.06,0-40,16.15-40,36v4a8,8,0,0,0,16,0v-4c0-11,10.77-20,24-20s24,9,24,20-10.77,20-24,20a8,8,0,0,0-8,8v8a8,8,0,0,0,16,0v-.72c18.24-3.35,32-17.9,32-35.28C168,88.15,150.06,72,128,72Zm104,56A104,104,0,1,1,128,24,104.11,104.11,0,0,1,232,128Zm-16,0a88,88,0,1,0-88,88A88.1,88.1,0,0,0,216,128Z"
        ></path>
      </svg>
    </div>
  </div>

  <div class="node">
    <div>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
        (click)="click()"
      >
        <path
          d="M128,28A100,100,0,1,0,228,128,100.11,100.11,0,0,0,128,28Zm0,192a92,92,0,1,1,92-92A92.1,92.1,0,0,1,128,220Zm42.83-110.83a4,4,0,0,1,0,5.66l-40,40a4,4,0,0,1-5.66,0l-40-40a4,4,0,0,1,5.66-5.66L128,146.34l37.17-37.17A4,4,0,0,1,170.83,109.17Z"
        ></path>
      </svg>
      @if(openUp){
      <div class="permission-set">
        <ul>
          @for (role of arrayOfPermissions; track role.roleName){
          @if(!role.added){
          <li (click)="addPermission(role)">
            {{ role.roleName.slice(5) }}
          </li>
          } }
        </ul>
      </div>
      }
    </div>
    <div>
      <p>Click above to add permissions</p>
    </div>
  </div>
</section>
