<section class="container">
  <div class="heding-baner">
    <h2>Branch Management Console</h2>
  </div>
  <div class="bank-application-heading">
    <div class="open-up-section-common">
      <h5>All Branches</h5>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
      >
        <path
          d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
        ></path>
      </svg>
    </div>
    <div class="applications-data">
      <table>
        <tr class="head prevent-select">
          <th>From</th>
          <th>To</th>
          <th>Date Time</th>
          <th>Amount</th>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
        <tr>
          <td>192.168.10.1</td>
          <td>172.168.2.1</td>
          <td>sample</td>
          <td>sample</td>
        </tr>
      </table>
      <div class="next-bubble prevent-select">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#000000"
          viewBox="0 0 256 256"
        >
          <path
            d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm46-90a6,6,0,0,1-6,6H102.49l21.75,21.76a6,6,0,1,1-8.48,8.48l-32-32a6,6,0,0,1,0-8.48l32-32a6,6,0,0,1,8.48,8.48L102.49,122H168A6,6,0,0,1,174,128Z"
          ></path>
        </svg>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <div class="three-dotes">...</div>
        <span>10</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#000000"
          viewBox="0 0 256 256"
        >
          <path
            d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm44.24-94.24a6,6,0,0,1,0,8.48l-32,32a6,6,0,0,1-8.48-8.48L153.51,134H88a6,6,0,0,1,0-12h65.51l-21.75-21.76a6,6,0,0,1,8.48-8.48Z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</section>
<section class="container create-branch">
  <div class="bank-application-heading">
    <div class="open-up-section-common">
      <h5>Create Branch</h5>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
      >
        <path
          d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
        ></path>
      </svg>
    </div>
    <div class="branch-details">
      <h3>Fill Up Branch Details</h3>
      <form class="grid--2-cols">
        <div>
          <label for="branch-name">Branch Name</label>
          <input type="text" id="branch-name" />
        </div>
        <div>
          <label for="state">State</label>
          <input type="text" id="state" />
        </div>
        <div>
          <label for="country">Country</label>
          <input type="text" id="country" />
        </div>
        <div>
          <label for="open">Open</label>
          <input type="checkbox" id="open" />
        </div>
        <div class="branch-button">
          <button class="button">Create Branch</button>
        </div>
      </form>
    </div>
  </div>
</section>
