.blueish-background {
  background-color: #1864ab;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #e7f5ff;
}

nav > div {
  font-size: 2.2rem;
  margin: 1rem;
  border-radius: 5px;
  transition: all 0.3s;
}

.login {
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: #ffd700;
  padding: 1rem;
}

.mathews-bank-logo {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
}

.mathews-bank-logo .bank-logo {
  height: 3rem;
  width: 3rem;
  fill: #e7f5ff;
}

nav div:active,
nav div:hover {
  cursor: pointer;
  background-color: #1971c2;
  color: white;
}

section {
  margin-top: 4.2rem;
}

section img {
  width: 55rem;
}

section .bank-title {
  align-self: center;
}

section .bank-title h4 {
  font-size: 7rem;
}

/* section .bank-title h4 span {
    color: #ffd700;
  } */

section .bank-title p {
  margin-top: 2.2rem;
  font-size: 2.5rem;
}
