.blueish-background {
  background-color: #1864ab;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #e7f5ff;
}

.logo-container {
  position: fixed;
  z-index: 99;
  top: 0;
  width: 100%;
}

nav > div {
  font-size: 2.2rem;
  margin: 1rem;
  border-radius: 5px;
  transition: all 0.33s;
}

.RHS {
  display: flex;
  gap: 2rem;
  margin: 1rem;
  font-size: 1.8rem;
}

.golden-inlay {
  border-radius: 5px;
  border: 1px solid #ffd700;
}
.inviableInlay {
  border-radius: 5px;
  border: 1px solid #1864ab;
  transition: all 0.33s;
}

.RHS-common {
  padding: 1.4rem;
}

.log-out {
  color: #ffa8a8;
}
.login {
}

.mathews-bank-logo {
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 0.9rem;
  transition: all 0.33s;
}

.mathews-bank-logo .bank-logo {
  height: 3rem;
  width: 3rem;
  fill: #e7f5ff;
}

nav div:active,
nav div:hover {
  cursor: pointer;
  background-color: #1971c2;
  border-radius: 5px;
  color: white;
}
section img {
  width: 55rem;
}

section .bank-title {
  align-self: center;
}

section .bank-title h4 {
  font-size: 7rem;
}

/* section .bank-title h4 span {
    color: #ffd700;
  } */

section .bank-title p {
  margin-top: 2.2rem;
  font-size: 2.5rem;
}
