<app-nav-bar></app-nav-bar>
<section class="container">
  <div class="employee-welcome">
    <div class="basic-details">
      <div>
        <h6>Welcome</h6>
        <p>Person name</p>
      </div>
      <div>
        <h6>Branch</h6>
        <p>admin central</p>
      </div>
      <div>
        <h6>Employee Id</h6>
        <p>1760336</p>
      </div>
      <div>
        <h6>Roles</h6>
        <p>Employee, Clerk, Manager, Admin</p>
      </div>
    </div>
    <div class="profile">
      <p>employee-logged-in works!</p>
    </div>
  </div>
</section>
<app-footer-section></app-footer-section>
