.blueish-background {
  background-color: #1864ab;
}
footer {
  padding-top: 2rem;
}

.footer-elements {
  display: flex;
  color: #e7f5ff;
  padding-top: 8rem;
  justify-content: space-between;
}

.left h6,
.mid h6,
.right h6 {
  font-size: 1.4rem;
}

.left ul,
.mid ul,
.right ul {
  list-style: none;
  margin-top: 2rem;
  margin-bottom: 4rem;
  min-width: 20rem;
}

.left ul li,
.mid ul li,
.right ul li {
  font-size: 1.2rem;
  margin-bottom: 2.2rem;
}

.left ul li a {
  color: greenyellow;
}

.mid {
  text-align: center;
}

.mid ul li {
  display: inline;
  padding: 1rem;
}

.mid ul li a svg {
  fill: #e7f5ff;
}
.line hr {
  color: #ffd700;
}

footer > p {
  color: #e7f5ff;
  text-align: center;
  padding-bottom: 2rem;
  font-size: 1.2rem;
}
