<section class="container">
  <div class="bank-application-heading">
    <div class="open-up-section-common" (click)="getData()">
      @if(subEmployeeActive){ @if(getAllApplications){
      <h5>All Bank Applications</h5>
      }@else{
      <h5>Bank Applications Under : {{ employeeData?.branchName }}</h5>
      } }@else {
      <h5>Bank Applications</h5>
      }
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
      >
        <path
          d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
        ></path>
      </svg>
    </div>
    <div class="applications-query">
      <form>
        <div>
          <label for="phone-or-email">Find by Phone or Email</label>
          <input type="text" id="phone-or-email" name="" />
        </div>
        <div>
          <label for="branch">Branch Id</label>
          <input type="number" id="branch" name="" />
        </div>
        <div class="button">
          <button>Look up</button>
        </div>
      </form>
      <div class="count"><span>count </span><span class="num">55</span></div>
      <div class="button-change">
        <!-- get all branches -->
        @if(getAllApplications){
        <button
          class="bank-button"
          (click)="getAllTheApplicationsUnderBranch()"
        >
          Get Applications Under Branch
        </button>
        }@else{
        <button class="bank-button" (click)="getAllTheApplications()">
          Get All Applications</button
        >}
      </div>
    </div>
    <div class="applications-data">
      <table>
        <tr class="head prevent-select table-data-row">
          <th>Application Id</th>
          <th>Full Name</th>
          <th>Applied On</th>
          <th>Status</th>
          <th>Branch Id</th>
        </tr>
        @for( application of applications ; track application; let pos =
        $index){
        <tr class="table-data-row">
          <td>
            <button
              class="expand-application-button"
              (click)="expandAssignedArea(pos)"
            >
              {{ application.applicationId }}
            </button>
          </td>
          <td>{{ application.fullName }}</td>
          <td>{{ application.appliedOn }}</td>
          <td>{{ application.rejected }}</td>
          <td>{{ application.branchId }}</td>
          @if(pos === expand){
          <div class="expansion">
            <div class="grid grid--4-cols gap-spacing">
              <div>
                <h6>Email</h6>
                <p>{{ application.email }}</p>
              </div>
              <div>
                <h6>Phone Number</h6>
                <p>{{ application.phoneNumber }}</p>
              </div>
              <div>
                <h6>Date Of Birth</h6>
                <p>{{ application.dateOfBirth }}</p>
              </div>
              <div>
                <h6>Assigned to:</h6>
                @if(application.assignedTo == employeeData?.reportsTo){
                <p>{{ application.assignedTo }} (Manager)</p>
                }@else{
                <p>{{ application.assignedTo }}</p>
                }
              </div>
              @if(subEmployeeActive){
              <div>
                <h6>Assign To:</h6>
                <button (click)="reAssignTo(application.applicationId, pos)">
                  {{ employeeData?.full_name }}
                </button>
              </div>
              }
              <div>
                <h6>Accept</h6>
                <button>{{ application.status }}</button>
              </div>
              <div>
                <h6>Reject</h6>
                <button>{{ application.rejected }}</button>
              </div>
            </div>
            <div>
              @if(subEmployeeActive){
              <p>
                Note you can only transfer an application to another employee
                under a branch
              </p>
              } @if(transferError){
              <p style="color: red">Error While Reassigning</p>
              } @if(transferDone){
              <p style="color: green">Transfer Success</p>
              }
            </div>
          </div>
          }
        </tr>
        }
      </table>
      <div class="next-bubble prevent-select">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#000000"
          viewBox="0 0 256 256"
        >
          <path
            d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm46-90a6,6,0,0,1-6,6H102.49l21.75,21.76a6,6,0,1,1-8.48,8.48l-32-32a6,6,0,0,1,0-8.48l32-32a6,6,0,0,1,8.48,8.48L102.49,122H168A6,6,0,0,1,174,128Z"
          ></path>
        </svg>
        <span>1</span>
        <span>2</span>
        <span>3</span>
        <div class="three-dotes">...</div>
        <span>10</span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#000000"
          viewBox="0 0 256 256"
        >
          <path
            d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm44.24-94.24a6,6,0,0,1,0,8.48l-32,32a6,6,0,0,1-8.48-8.48L153.51,134H88a6,6,0,0,1,0-12h65.51l-21.75-21.76a6,6,0,0,1,8.48-8.48Z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</section>
