section {
  margin-top: 2rem;
}

.open-up-section-common {
  background-color: #212529;
  color: #f3f0ff;
  display: flex;
  align-items: center;
  padding: 0.4rem;
  gap: 1rem;
  font-size: 2.4rem;
  transition: all 0.33s;
}

.bank-application-heading {
  border: solid 1px #212529;
  margin-bottom: 2rem;
}

.open-up-section-common h5 {
  padding: 1rem;
  color: #ffd700;
  margin-left: 1rem;
}

.open-up-section-common svg {
  width: 2.4rem;
  fill: #f3f0ff;
}

.applications-query {
  display: flex;
  margin-top: 2rem;
  justify-content: center;
  gap: 4rem;
}

.applications-query form {
  display: flex;
  gap: 4rem;
}

.button {
  align-self: flex-end;
}

.button button {
  padding: 0.8rem 1.8rem;
  background-color: #f3f0ff;
  font-size: 1.4rem;
  color: #5f3dc4;
  font-weight: 600;
  border: solid 1px #b197fc;
  transition: all 0.33s;
}
.button button:hover,
.button button:active {
  cursor: pointer;
  border: solid 1px #f3f0ff;
}

.applications-query form div {
  display: flex;
  gap: 0.6rem;
  font-size: 1.4rem;
  flex-direction: column;
}

.applications-query form div input {
  padding: 0.8rem 0.6rem;
  font-size: 1.6rem;
}

.count {
  font-size: 1.6rem;
  align-self: end;
}

.count .num {
  color: #5f3dc4;
  font-weight: 600;
}

.applications-data {
  margin-top: 2rem;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
}

.applications-data table {
  border-collapse: collapse;
  text-align: center;
  margin: 1rem 2rem;
}

.applications-data table tr td {
  padding: 1rem 2rem;
}

.applications-data table tr:nth-child(odd) {
  background-color: #f3f0ff;
}

.applications-data table tr:first-child {
  background-color: #5f3dc4;
  color: #e5dbff;
  font-size: 1.4rem;
}
.applications-data table tr:first-child th {
  padding: 0.6rem 2rem;
}

/* next icon */
/* left right button */
.next-bubble {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 0.4rem;
  margin-bottom: 1rem;
}

.next-bubble article h5 {
  font-size: 1.8rem;
  margin-top: 3rem;
  margin-bottom: 0.6rem;
}
.next-bubble article h5 span {
  color: #868e96;
}

.next-bubble svg {
  width: 3.4rem;
  border-radius: 50%;
  fill: #5f3dc4;
  transition: all 0.33s;
}

.next-bubble svg:hover,
.next-bubble svg:active {
  cursor: pointer;
  fill: #ffffff;
  border-radius: 50%;
  background-color: #5f3dc4;
}
.three-dotes {
  align-self: center;
}

form div {
  display: flex;
  flex-direction: column;
}

form div label {
  font-size: 1.4rem;
}

form div input {
  margin-top: 0.6rem;
  padding: 0.6rem;
  font-size: 1.6rem;
}

.reset-space {
  margin-top: 1rem;
  margin-bottom: 1rem;
  row-gap: 2rem;
}

.reset-space button {
  background-color: #ffd700;
  color: #212529;
  transition: all 0.33s;
  padding: 0.6rem 1.6rem;
  max-width: 20rem;
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 4rem;
}

.reset-space button:hover {
  cursor: pointer;
  background-color: #212529;
  color: #ffd700;
}
