<section>
  <div class="bank-application-heading">
    <div class="open-up-section-common">
      <h5>Add an Employee</h5>
    </div>
    <div class="applications-data">
      <div class="next-bubble prevent-select">
        <div>
          <form class="grid grid--3-cols reset-space">
            <div>
              <label for="fullName">Full Name</label>
              <input type="text" id="fullName" />
            </div>
            <div>
              <label for="phoneNumber">Phone Number</label>
              <input type="text" id="phoneNumber" />
            </div>
            <div>
              <label for="email">Email</label>
              <input type="text" id="email" />
            </div>

            <div>
              <label for="dob">DOB</label>
              <input type="text" id="dob" />
            </div>
            <div>
              <label for="salary">Salary</label>
              <input type="text" id="salary" />
            </div>
            <div>
              <label for="password">Password</label>
              <input type="text" id="password" />
            </div>
          </form>
        </div>
        <section>
          <article>
            <h5>Permission set section</h5>
            <p>
              Permission here allow the user to perform certain actions, can
              only add one unique permission to a user, unauthorized granting of
              permissions would resort to failing of user creation...
            </p>
          </article>
          <div>
            <app-permission-set></app-permission-set>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
