<div class="blueish-background">
  <div class="container">
    <nav>
      <div class="bank-logo">
        <a>Mathew's bank</a>
      </div>
      <div>
        <a> login </a>
      </div>
    </nav>
  </div>
</div>
<div class="container">
  <section class="grid grid--2-cols">
    <div class="bank-title">
      <h4>Welcome to Mathew<span>'</span>s bank</h4>
      <p>Where your mony gets a new and secure life</p>
    </div>
    <img src="assets/images/moneycrop.png" alt="image of money growing " />
  </section>
</div>
