<app-nav-bar></app-nav-bar>
<div class="container containment-toping">
  <section class="grid grid--3-cols">
    <div class="savings-account">
      <div class="LHS">
        <label>Savings Account</label>
        <span class="back" (click)="backToUserHome()">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"
            ></path>
          </svg>
          <span>back</span>
        </span>
      </div>
      <hr />
      <div>
        <span><h6>Interest rate : 0.7%</h6></span>
        <article>
          <p>
            savings account is commonly used as a salary account or a quick draw
            account
          </p>
        </article>
      </div>
    </div>
    <div class="account-details">
      <div class="account">
        <h6>Account number</h6>
        <label>726318927</label>
      </div>
      <div class="amount">
        <h6>Balance</h6>
        <label>1,231,234 $</label>
      </div>
    </div>

    <section class="transactions">
      <div
        class="transactions-heading"
        (click)="moneyTransferActive = !moneyTransferActive"
      >
        <h4>Money Transfer</h4>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#000000"
          viewBox="0 0 256 256"
          [ngClass]="{ 'toggle-down': moneyTransferActive }"
        >
          <path
            d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
          ></path>
        </svg>
      </div>
      @if(moneyTransferActive){
      <div class="container money-transfer-container">
        <h6>IMPS money transfer</h6>
        <form>
          <label for="to-account-number">beneficiary account number</label>
          <input id="to-account-number" />
          <label for="destination-amount">Amount</label>
          <input id="destination-amount" />
          <button>Pay</button>
        </form>
      </div>
      }
    </section>

    <section class="transactions">
      <div
        class="transactions-heading prevent-select"
        (click)="transactions = !transactions"
      >
        <h4>transactions</h4>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#000000"
          viewBox="0 0 256 256"
          [ngClass]="{ 'toggle-down': transactions }"
        >
          <path
            d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
          ></path>
        </svg>
      </div>
      @if(transactions){
      <div class="range">
        <h6>Date filter</h6>
        <form action="">
          <span class="form-field">
            <label for="from">From :</label>
            <input id="from" type="date" />
          </span>
          <span class="form-field">
            <label for="to">To :</label>
            <input id="to" type="date" />
          </span>
        </form>
      </div>
      <div class="container transaction-table">
        <table>
          <tr class="head">
            <th>From</th>
            <th>To</th>
            <th>Date Time</th>
            <th>Amount</th>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
          <tr>
            <td>192.168.10.1</td>
            <td>172.168.2.1</td>
            <td>sample</td>
            <td>sample</td>
          </tr>
        </table>
        <div class="next-bubble prevent-select">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm46-90a6,6,0,0,1-6,6H102.49l21.75,21.76a6,6,0,1,1-8.48,8.48l-32-32a6,6,0,0,1,0-8.48l32-32a6,6,0,0,1,8.48,8.48L102.49,122H168A6,6,0,0,1,174,128Z"
            ></path>
          </svg>
          <span>1</span>
          <span>2</span>
          <span>3</span>
          <div class="three-dotes">...</div>
          <span>10</span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="32"
            height="32"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path
              d="M128,26A102,102,0,1,0,230,128,102.12,102.12,0,0,0,128,26Zm0,192a90,90,0,1,1,90-90A90.1,90.1,0,0,1,128,218Zm44.24-94.24a6,6,0,0,1,0,8.48l-32,32a6,6,0,0,1-8.48-8.48L153.51,134H88a6,6,0,0,1,0-12h65.51l-21.75-21.76a6,6,0,0,1,8.48-8.48Z"
            ></path>
          </svg>
        </div>
      </div>
      }
    </section>
    <section class="edit-mode prevent-select">
      <div class="edit-text-icon head-text" (click)="editSavingsAccountLogic()">
        <h4>Edit savings account</h4>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          fill="#000000"
          viewBox="0 0 256 256"
          [ngClass]="{ 'toggle-down': editSavingsAccount }"
        >
          <path
            d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
          ></path>
        </svg>
      </div>
      @if(editSavingsAccount){
      <div class="options grid grid--2-cols">
        <div class="caution">
          <div
            class="edit-text-icon"
            (click)="inactiveAccount = !inactiveAccount"
          >
            <h6>Inactivate account</h6>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="#000000"
              viewBox="0 0 256 256"
              [ngClass]="{ 'toggle-down': inactiveAccount }"
            >
              <path
                d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
              ></path>
            </svg>
          </div>
          @if(inactiveAccount){
          <p>
            Inactivating the account will stop all monetary transactions from
            and to this account only
          </p>
          <button class="inactive">Inactivate</button>
          <button class="active">Activate</button>
          }
        </div>
        <div class="caution close-account">
          <div class="edit-text-icon" (click)="closeAccount = !closeAccount">
            <h6>Close Account</h6>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="32"
              height="32"
              fill="#000000"
              viewBox="0 0 256 256"
              [ngClass]="{ 'toggle-down': closeAccount }"
            >
              <path
                d="M216.49,104.49l-80,80a12,12,0,0,1-17,0l-80-80a12,12,0,0,1,17-17L128,159l71.51-71.52a12,12,0,0,1,17,17Z"
              ></path>
            </svg>
          </div>
          @if(closeAccount){
          <p>
            closing the account will permanently delete the account... please be
            sure before proceeding
          </p>
          <button>Close Account</button>
          }
        </div>
      </div>
      }
    </section>
  </section>
</div>
<app-footer-section></app-footer-section>
